@using DAL.Entities
@model Kullanici

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Partials/_SolMenu.cshtml")

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce-info">
                        Beklenmeyen bir hatayla karşılaşıldı.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>