
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @Html.Partial("~/Views/Partials/_SolMenu.cshtml")

            <div class="col-md-8">
                <div class="woocommerce-info">
                    @Html.Raw(ViewBag.Mesaj)
                </div>
            </div>
        </div>
    </div>
</div>