<ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <li class="nav-item start active open">
        <a href="@Url.Action("Index","Home")" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Anasayfa</span>
            <span class="selected"></span>
            <span class="arrow open"></span>
        </a>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-diamond"></i>
            <span class="title">Oltalar</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li class="nav-item  ">
                <a href="@Url.Action("Index","Olta")" class="nav-link ">
                    <span class="title">Olta Listesi</span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="@Url.Action("Ekle","Olta")" class="nav-link ">
                    <span class="title">Olta Ekle</span>
                </a>
            </li>
        </ul>
    </li>
</ul>