<div class="slider-area">
    <!-- Slider -->
    <div class="block-slider block-slider4">
        <ul class="" id="bxslider-home4">
            <li>
                <img src="~/Content/img/daiwaslider.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                         <span> <strong >X</strong> </span>
                    </h2>
                    <a class="caption button-radius" href="https://www.avfoni.com/kampanya/daiwa-lt-serisi-kampanyali-urunler" target="_blank"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/img/sandalyeslider.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                         <span class="primary">50% <strong>off</strong></span>
                    </h2>
                    <a class="caption button-radius" href="https://www.avfoni.com/marka/duraking-lures?oby=0" target="_blank"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/img/fujinslider.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                         <span class="primary"> <strong></strong></span>
                    </h2>
                    <a class="caption button-radius" href="https://www.avfoni.com/marka/fujin" target="_blank"><span class="icon"></span>Shop now</a>
                </div>
            </li>
            <li>
                <img src="~/Content/img/cadırslider.jpg" alt="Slide">
                <div class="caption-group">
                    <h2 class="caption title">
                         <span class="primary">Store <strong>Ipod</strong></span>
                    </h2>
                    <h4 class="caption subtitle">& Phone</h4>
                    <a class="caption button-radius" href="https://www.avfoni.com/marka/bearstove?oby=0"target="_blank"><span class="icon"></span>Shop now</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- ./Slider -->
</div> <!-- End slider area -->

<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <i class="fa fa-refresh"></i>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <i class="fa fa-truck"></i>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <i class="fa fa-lock"></i>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <i class="fa fa-gift"></i>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/remixongumusalt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">REMIXON Hercule 5000 Gümüş Olta Makinesi</a></h2>

                            <div class="product-carousel-price">
                                <ins>$10.00</ins> <del>$12.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/remixonbluealt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>REMIXON Blue Marlin 65 Olta Makinesi</h2>
                            <div class="product-carousel-price">
                                <ins>$89.00</ins> <del>$99.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/daiwaalt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>DAIWA DF 100 B Olta Makinesi</h2>

                            <div class="product-carousel-price">
                                <ins>$400.00</ins> <del>$425.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/remixonbakıralt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2> REMIXON Hercule 5000 Bakır Olta Makinesi</h2>

                            <div class="product-carousel-price">
                                <ins>$200.00</ins> <del>$225.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/oltaalt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2>DAIWA Exceler EX 4500 E Olta Makinesi </h2>

                            <div class="product-carousel-price">
                                <ins>$120.00</ins> <del>$135.00</del>
                            </div>
                        </div>
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="~/Content/img/remixonalt.jpg" alt="">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="#" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>

                            <h2><a href="single-product.html">REMIXON Black Tiger 8000 Olta Makinesi</a></h2>

                            <div class="product-carousel-price">
                                <ins>$400.00</ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="~/Content/img/okumalogo.png" alt="">
                        <img src="~/Content/img/shimano.logo.png" alt="">
                        <img src="~/Content/img/daiwa.logo.jpg" alt="">
                        <img src="~/Content/img/strikepro.jpg" alt="">
                        <img src="~/Content/img/shimano.logo.png" alt="">
                        <img src="~/Content/img/daiwa.logo.jpg" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top Sellers</h2>
                    <a href="" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/dawiarevend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Dawia Revros</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$100.00</ins> <del>$120.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/okumalarisend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">OKUMA Alaris ALS-20 Olta Makinesi</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$40.00</ins>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/dawiaend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Dawia End</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$89.00</ins> <del>$99.00</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Recently Viewed</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/okumaend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Okuma Dead Ringer</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$20.00</ins> <del>$25.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/spin_olta_makinalari.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Spin Olta Makinalari</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$40.00</ins> <del>$42.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/remixonsl500end.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Remixon L500 </a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$40.00</ins>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-product-widget">
                    <h2 class="product-wid-title">Top New</h2>
                    <a href="#" class="wid-view-more">View All</a>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/remixonblackend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Remixon Black</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$12.00</ins> <del>$13.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/okumalarisend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Okuma Alaris</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$10.00</ins> <del>$12.00</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-product.html"><img src="~/Content/img/dawiarevend.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-product.html">Dawia Revend</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>$8.00</ins> <del>$9.00</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->